* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

hi {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
